<div class="container">
    <div class="row">
        <div class="col-xl-8 mx-auto text-center">
            <div class="section-title">
                <h4 class="mb-5">Experiencia laboral</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <section class="timeline">
                <div class="timeline-row">
                    <div class="timeline-column">
                        <div class="timeline-box">
                            <div class="timeline-content">
                                <div class="content">
                                    <div class="year">
                                        <i class="fa-solid fa-calendar-days"
                                        ></i> Marzo 2024 - Presente
                                    </div>
                                    <h3>Soporte IT - (T Maquinaria)</h3>
                                    <p>
                                        En mi rol actual como soporte IT en T
                                        Maquinaria, me dedico a diagnosticar y
                                        resolver problemas técnicos tanto de
                                        hardware como de software. Mis
                                        responsabilidades incluyen la
                                        configuración y el soporte de equipos
                                        informáticos, como PCs, laptops e
                                        impresoras, así como ofrecer asistencia
                                        técnica a los usuarios, ya sea de forma
                                        presencial o remota. También me ocupo de
                                        la instalación y administración de
                                        aplicaciones empresariales, así como de
                                        la gestión de copias de seguridad.
                                        Además, capacito y asisto a los
                                        empleados en el uso de las herramientas
                                        tecnológicas, manteniendo y actualizando
                                        los inventarios de hardware y software.
                                        Trabajo en colaboración con otros
                                        departamentos para resolver problemas
                                        tecnológicos, gestionando cuentas de
                                        usuario y acceso a recursos. Mi
                                        experiencia incluye la gestión de
                                        servidores y sistemas virtualizados, así
                                        como el desarrollo y mantenimiento de
                                        scripts para la automatización de
                                        tareas. También diseño e implemento
                                        programas internos que optimizan los
                                        procesos empresariales y me encargo de
                                        la documentación técnica y de los
                                        manuales de uso de las aplicaciones
                                        desarrolladas.
                                    </p>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <div class="content">
                                    <div class="year">
                                        <i class="fa-solid fa-calendar-days"
                                        ></i> Junio 2023 - Diciembre 2023
                                    </div>
                                    <h3>Practicante de Sistemas - (Virbac)</h3>
                                    <p>
                                        Durante mi tiempo como practicante de
                                        sistemas en Virbac, me enfoqué en la
                                        capacitación y formación de usuarios en
                                        nuevas tecnologías, además de brindar
                                        soporte técnico para la resolución de
                                        incidencias. Me encargué de la
                                        instalación y configuración de hardware
                                        y software en los equipos informáticos,
                                        elaborando manuales y guías de usuario
                                        para los sistemas implementados. También
                                        gestioné las incidencias, asegurando el
                                        seguimiento y la resolución de las
                                        mismas. Participé en la coordinación de
                                        proyectos de implementación de sistemas,
                                        aportando nuevas tecnologías innovadoras
                                        a la empresa, mientras me ocupaba de la
                                        resolución de problemas técnicos y de
                                        rendimiento de los sistemas. Finalmente,
                                        desarrollé diversos proyectos y
                                        programas alineados a las necesidades
                                        empresariales.
                                    </p>
                                </div>
                            </div>
                            <div
                                class="timeline-content"
                            
                            >
                                <div class="content">
                                    <div class="year">
                                        <i
                                            class="fa-solid fa-calendar-days"
                                        ></i> Octubre
                                        2022 - Enero 2023
                                    </div>
                                    <h3>
                                        Practicante de Sistemas - (Sumida)
                                    </h3>
                                    <p>
                                        Como practicante de sistemas en Sumida,
                                        participé en la creación de aplicaciones
                                        web para satisfacer los requerimientos
                                        de las áreas internas. Brindé soporte a
                                        los usuarios tanto de manera presencial
                                        como remota, y gestioné la
                                        administración de licencias y cuentas de
                                        usuario. Me encargué de la
                                        configuración, soporte y administración
                                        de correos electrónicos, así como del
                                        servidor y la página web.
                                        Adicionalmente, gestioné la
                                        configuración y asignación de equipos
                                        nuevos, además de realizar tareas de
                                        mantenimiento preventivo a los equipos
                                        de cómputo para asegurar su correcto
                                        funcionamiento.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<style>
    .timeline {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .timeline .timeline-row {
        display: flex;
        column-gap: 64px;
        flex-wrap: wrap;
    }
    .timeline-column .timeline-row {
        flex: 1 1 320px;
    }

    .timeline-column .timeline-box {
        border-left: 2px solid #0ef;
    }

    .timeline-box .timeline-content {
        position: relative;
        padding-left: 27px;
    }

    .timeline-box .timeline-content::before {
        content: "";
        position: absolute;
        top: 0;
        left: -10.5px;
        width: 20px;
        height: 20px;
        background: #0ef;
        border-radius: 50%;
    }

    .timeline-content .content {
        padding: 24px;
        border: 2px solid #0ef;
        border-radius: 8px;
        margin-bottom: 32px;
    }

    .timeline-content .content .year {
        font-size: 16px;
        color: #0ef;
    }

    .timeline-content .content .year i {
        margin-right: 8px;
    }

    .timeline-content .content h3 {
        font-size: 19px;
        margin: 8px 0;
    }

    .timeline-content .content p {
        font-size: 16px;
    }
</style>
