---
const { experiencia } = Astro.props;
---

<div class="container">
    <div class="row">
        <div class="col-xl-8 mx-auto text-center">
            <div class="section-title">
                <h4 class="mb-5">Experiencia laboral</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <section class="timeline">
                <div class="timeline-row">
                    <div class="timeline-column">
                        <div class="timeline-box">
                            {
                                experiencia?.map((exp) => (
                                    <div class="timeline-content">
                                        <div class="content">
                                            <div class="year">
                                                <i class="fa-solid fa-calendar-days" />
                                                {exp.attributes.tiempo}
                                            </div>
                                            <h3>
                                                {exp.attributes.puesto} - (
                                                {exp.attributes.empresa})
                                            </h3>
                                            <p>{exp.attributes.actividades}</p>
                                        </div>
                                    </div>
                                ))
                            }
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<style>
    .timeline {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .timeline .timeline-row {
        display: flex;
        column-gap: 64px;
        flex-wrap: wrap;
    }
    .timeline-column .timeline-row {
        flex: 1 1 320px;
    }

    .timeline-column .timeline-box {
        border-left: 2px solid #0ef;
    }

    .timeline-box .timeline-content {
        position: relative;
        padding-left: 27px;
    }

    .timeline-box .timeline-content::before {
        content: "";
        position: absolute;
        top: 0;
        left: -10.5px;
        width: 20px;
        height: 20px;
        background: #0ef;
        border-radius: 50%;
    }

    .timeline-content .content {
        padding: 24px;
        border: 2px solid #0ef;
        border-radius: 8px;
        margin-bottom: 32px;
    }

    .timeline-content .content .year {
        font-size: 16px;
        color: #0ef;
    }

    .timeline-content .content .year i {
        margin-right: 8px;
    }

    .timeline-content .content h3 {
        font-size: 19px;
        margin: 8px 0;
    }

    .timeline-content .content p {
        font-size: 16px;
    }
</style>
