---
import Icon from "./Icon.astro";
---

<div class="container text-center">
  <div class="row">
    <h2 class="mb-5">Mis Habilidades</h2>
    <div class="col-12">
      <div class="row g-5">
        <div  title="React" class="col-2">
          <Icon icon="React" />
        </div>
          <div  title="Astro" class="col-2">
            <Icon icon="AstroIcon" />
          </div>
          <div  title="Git" class="col-2">
            <Icon icon="Git" />
          </div>
          <div  title="Github" class="col-2">
            <Icon icon="Github" />
          </div>
          <div  title="MongoDB" class="col-2">
            <Icon icon="MongoDB" />
          </div>
          <div  title="MySQL" class="col-2">
            <Icon icon="MySQL" />
          </div>
          <div  title="Node.js" class="col-2">
            <Icon icon="Node" />
          </div>
          <div  title="Vite" class="col-2">
            <Icon icon="Vite" />
          </div>
          <div  title="Tailwind CSS" class="col-2">
            <Icon icon="Tailwind" />
          </div>
          <div  title="Strapi" class="col-2">
            <Icon icon="Strapi" />
          </div>
          <div  title="Boostrap" class="col-2">
            <Icon icon="Boostrap" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
