---
import curriculum from "/CV_Luis_de_la_Torre_Ing_software.pdf";
---

<nav class="navbar fixed-top navbar-expand-md navbar-dark navBackground">
    <div class="container">
        <div class="row">
            <div class="col-2 foto">
                <img
                    src="https://res.cloudinary.com/dnfqiv8q8/image/upload/v1707631563/thumbnail_perfil_a4b89be685.png"
                    alt="foto de perfil"
                    style="border-radius: 50%; width:80px; margin-right: 1.5rem;"
                />
            </div>
            <div
                class="col-sm-12 col-lg-10 d-flex flex-column align-items-center justify-content-center"
            >
                <h5>Luis Angel De La Torre Sánchez</h5>
                <a
                    href="https://www.linkedin.com/in/Angel-de-la-Torre"
                    class="btn btn-primary badge badge-primary"
                    >Disponible para trabajar</a
                >
            </div>
        </div>

        <button
            class="navbar-toggler nav-mobile"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#menu"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a
                        href="#index"
                        data-mdb-toggle="collapse"
                        class="nav-link"
                        data-scroll
                    >
                        Sobre mi
                    </a>
                </li>

                <li class="nav-item">
                    <a
                        href="#experiencia"
                        data-mdb-toggle="collapse"
                        class="nav-link"
                        data-scroll
                    >
                        Experiencia
                    </a>
                </li>

                <li class="nav-item">
                    <a
                        href="#proyectos"
                        data-mdb-toggle="collapse"
                        class="nav-link"
                        data-scroll
                    >
                        Proyectos
                    </a>
                </li>

                <li class="nav-item">
                    <a
                        class="nav-link"
                        data-scroll
                        href={curriculum}
                        target="_blank"
                    >
                        Curriculum
                    </a>
                </li>
            </ul>

            <div class="dropdown">
                <button
                    class="btn btn-secondary dropdown-toggle btnSocial"
                    type="button"
                    data-bs-toggle="dropdown"
                >
                    Redes Sociales
                </button>

                <ul class="dropdown-menu dropdown-menu-dark">
                    <li class="redSocial">
                        <a
                            class="dropdown-item bi bi-whatsapp"
                            target="_blank"
                            href="https://wa.me/3335055722/?text=Interesad@%20en%20tus%20servicios"
                        >
                            Whatsapp
                        </a>
                    </li>
                    <li class="redSocial">
                        <a
                            class="dropdown-item bi bi-linkedin"
                            target="_blank"
                            href="https://www.linkedin.com/in/Angel-de-la-Torre"
                        >
                            Linkedin
                        </a>
                    </li>
                    <li class="redSocial">
                        <a
                            class="dropdown-item bi bi-github"
                            target="_blank"
                            href="https://github.com/deeperunmade"
                        >
                            Github
                        </a>
                    </li>
                    <li class="redSocial">
                        <a
                            class="dropdown-item bi bi-envelope-at-fill"
                            target="_blank"
                            href="mailTo:darkknightandroid@gmail.com?Subject=Interesad@%20en%20tus%20servicios"
                        >
                            Gmail
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<style>
    @media (max-width: 576px) {
        nav .foto {
            display: none;
        }
    }
</style>
