---
import Tailwind from "../components/icons/Tailwind.astro";
import React from "../components/icons/React.astro";
import Boostrap from "../components/icons/Boostrap.astro";
import AstroIcon from "../components/icons/AstroIcon.astro";
import Next from "./icons/Next.astro";
import Redux from "./icons/Redux.astro";
import TypeScript from "./icons/TypeScript.astro";
---

<div class="container">
	<div class="row g-3 mb-5">
		<div class="section-title">
			<h4 class="mb-5">Proyectos</h4>
		</div>
		<div class="card mb-3">
			<div class="row g-0">
				<div
					class="col-md-5 d-flex justify-content-center align-items-center"
				>
					<a
						href="https://portafolio-ladlts.vercel.app/"
						target="_blank"
					>
						<img
							src="https://res.cloudinary.com/dnfqiv8q8/image/upload/v1707942552/medium_portafolio_0dd8c2bb65.png"
							class="img-fluid rounded-start"
							alt="..."
						/>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-body">
						<h3 class="card-title d-inline">Portafolio Web</h3>
						<a
							href="https://github.com/deeperunmade/Portafolio-web-Astro"
							target="_blank"
							class="btn btn-primary badge badge-primary bi bi-github mx-3"
							style="font-size: 1rem;"
						>
							Repositorio
						</a>
						<p class="card-text mt-3 mb-5 lead">
							Empleando Astro, un excelente framework para crear
							páginas estáticas con su arquitectura de
							&quot;islas&quot;, que permite mejorar la eficiencia
							en la carga de páginas estáticas al tiempo que
							ofrece la flexibilidad de incorporar interactividad
							solo donde es necesario.
						</p>
						<div
							class="container custom-container rounded p-2"
							style="background-color: #d0d2d4;"
						>
							<div class="row g-5">
								<div class="col-1 mx-3">
									<Boostrap />
								</div>
								<div class="col-1 mx-3">
									<AstroIcon />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card mb-3">
			<div class="row g-0">
				<div
					class="col-md-5 d-flex justify-content-center align-items-center"
				>
					<a
						href="https://portafolio-ladlts.vercel.app/"
						target="_blank"
					>
						<img
							src="https://res.cloudinary.com/dnfqiv8q8/image/upload/v1728166056/wpat09erj2z40lydj3ue.jpg"
							class="img-fluid rounded-start"
							alt="..."
						/>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-body">
						<h3 class="card-title d-inline">Gestion Home</h3>
						<a
							href="https://github.com/deeperunmade/Recetario"
							target="_blank"
							class="btn btn-primary badge badge-primary bi bi-github mx-3"
							style="font-size: 1rem;"
						>
							Repositorio
						</a>
						<p class="card-text mt-3 mb-5 lead">
							Gestión Home es una aplicación web personal
							diseñada para optimizar la gestión del hogar,
							enfocándose específicamente en las compras
							semanales. La aplicación permite a los usuarios
							seleccionar sus recetas favoritas y,
							automáticamente, generar una lista de compras basada
							en los ingredientes necesarios. Aunque el proyecto
							está en desarrollo, refleja de manera integral mis
							habilidades en desarrollo web, destacando mi
							conocimiento en la creación de interfaces
							intuitivas, la gestión de datos y la implementación
							de funcionalidades dinámicas orientadas a mejorar la
							experiencia del usuario.
						</p>
						<div
							class="container custom-container rounded p-2"
							style="background-color: #d0d2d4;"
						>
							<div class="row g-5">
								<div class="col-1 mx-3">
									<Tailwind />
								</div>
								<div class="col-1 mx-3">
									<React />
								</div>
								<div class="col-1 mx-3">
									<Next />
								</div>
								<div class="col-1 mx-3">
									<Redux />
								</div>
								<div class="col-1 mx-3">
									<TypeScript />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
