---
export interface Props {
    nombre: string;
    link: string;
    icono: string;
}

const { nombre, link, icono } = Astro.props;
---

<li  class="redSocial">
    <a
        class={`dropdown-item ${icono}`}
        target="_blank"
        href={link}
    >
        {nombre}
    </a>
</li>

